<a href="https://colab.research.google.com/github/aloml2543/Dacon_housing/blob/won/model/Dense_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.preprocessing import MinMaxScaler

In [3]:
from google.colab import drive
drive.mount('/content/drive')

!unzip -nq /content/drive/MyDrive/Dacon_housing/housing.zip -d /content/

Mounted at /content/drive

In [4]:
df1 = pd.read_csv('/content/train.csv')
print(df1.columns)

Index(['id', 'Overall Qual', 'Gr Liv Area', 'Exter Qual', 'Garage Cars',
       'Garage Area', 'Kitchen Qual', 'Total Bsmt SF', '1st Flr SF',
       'Bsmt Qual', 'Full Bath', 'Year Built', 'Year Remod/Add',
       'Garage Yr Blt', 'target'],
      dtype='object')

In [9]:
try:
  df1 = df1.replace(['Ex','Gd','TA','Fa','Po'],[4,3,2,1,0])
except:
  pass
X_train = df1[['Overall Qual', 'Gr Liv Area', 'Exter Qual', 'Garage Cars',
       'Garage Area', 'Kitchen Qual', 'Total Bsmt SF', '1st Flr SF',
       'Bsmt Qual', 'Full Bath', 'Year Built', 'Year Remod/Add',
       'Garage Yr Blt']].astype(float)
X_train

      Overall Qual  Gr Liv Area  ...  Year Remod/Add  Garage Yr Blt
0             10.0       2392.0  ...          2003.0         2003.0
1              7.0       1352.0  ...          2007.0         2006.0
2              5.0        900.0  ...          1967.0         1967.0
3              5.0       1174.0  ...          2006.0         2000.0
4              7.0       1958.0  ...          2005.0         2005.0
...            ...          ...  ...             ...            ...
1345           6.0       1756.0  ...          1997.0         1996.0
1346           9.0       2748.0  ...          2006.0         2006.0
1347           5.0       1214.0  ...          1967.0         1967.0
1348           5.0        894.0  ...          1974.0         1974.0
1349           5.0        907.0  ...          1978.0         1978.0

[1350 rows x 13 columns]

In [10]:
Y_train = df1[['target']].astype(float)
print(X_train.shape)
print(Y_train.shape)

(1350, 13)
(1350, 1)

In [12]:
x_scaler = MinMaxScaler()
x_scaler.fit(X_train)
X_train = x_scaler.transform(X_train)

y_scaler = MinMaxScaler()
y_scaler.fit(Y_train)
Y_train = y_scaler.transform(Y_train)

In [13]:
X = tf.keras.layers.Input(shape=[13])
H = tf.keras.layers.Dense(10000,activation='swish')(X)
H = tf.keras.layers.Dense(1000,activation = 'swish')(H)
H = tf.keras.layers.Dense(100,activation = 'swish')(H)
H = tf.keras.layers.Dense(10,activation = 'swish')(H)
H = tf.keras.layers.Dense(5,activation = 'swish')(H)
Y = tf.keras.layers.Dense(1)(H)

model = tf.keras.models.Model(X,Y)
model.compile(loss='mse')
model.summary()

Model: "model"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_1 (InputLayer)        [(None, 13)]              0

 dense (Dense)               (None, 10000)             140000

 dense_1 (Dense)             (None, 1000)              10001000

 dense_2 (Dense)             (None, 100)               100100

 dense_3 (Dense)             (None, 10)                1010

 dense_4 (Dense)             (None, 5)                 55

 dense_5 (Dense)             (None, 1)                 6

=================================================================
Total params: 10,242,171
Trainable params: 10,242,171
Non-trainable params: 0
_________________________________________________________________

In [16]:
model.fit(X_train, Y_train, epochs = 100)
# model.fit(X_train, Y_train, epochs = 10)

Epoch 1/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0018
Epoch 2/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0082
Epoch 3/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0016
Epoch 4/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0016
Epoch 5/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0016
Epoch 6/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0017
Epoch 7/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0017
Epoch 8/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0016
Epoch 9/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0018
Epoch 10/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0017
Epoch 11/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0016
Epoch 12/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0017
Epoch 13/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0016
Epoch 14/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0016
Epoch 15/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0015
Epoch 16/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0016
Epoch 17/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0017
Epoch 18/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0016
Epoch 19/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0016
Epoch 20/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0016
Epoch 21/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0015
Epoch 22/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0015
Epoch 23/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0016
Epoch 24/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0016
Epoch 25/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0015
Epoch 26/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0016
Epoch 27/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0015
Epoch 28/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0014
Epoch 29/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0016
Epoch 30/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0014
Epoch 31/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0053
Epoch 32/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0014
Epoch 33/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0014
Epoch 34/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0014
Epoch 35/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0015
Epoch 36/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0020
Epoch 37/100
43/43 [==============================] - 1s 14ms/step - loss: 0.0015
Epoch 38/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0015
Epoch 39/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0015
Epoch 40/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0013
Epoch 41/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0015
Epoch 42/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0015
Epoch 43/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0014
Epoch 44/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0014
Epoch 45/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0015
Epoch 46/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0014
Epoch 47/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0015
Epoch 48/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0013
Epoch 49/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0014
Epoch 50/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0013
Epoch 51/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0015
Epoch 52/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0013
Epoch 53/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0014
Epoch 54/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0013
Epoch 55/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0014
Epoch 56/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0013
Epoch 57/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0013
Epoch 58/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0013
Epoch 59/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0013
Epoch 60/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0012
Epoch 61/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0015
Epoch 62/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0013
Epoch 63/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0013
Epoch 64/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0014
Epoch 65/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0013
Epoch 66/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0013
Epoch 67/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0012
Epoch 68/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0013
Epoch 69/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0015
Epoch 70/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0013
Epoch 71/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0013
Epoch 72/100
43/43 [==============================] - 1s 12ms/step - loss: 0.0014
Epoch 73/100
43/43 [==============================] - 1s 12ms/step - loss: 0.0013
Epoch 74/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0012
Epoch 75/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0013
Epoch 76/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0013
Epoch 77/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0013
Epoch 78/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0013
Epoch 79/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0012
Epoch 80/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0012
Epoch 81/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0013
Epoch 82/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0012
Epoch 83/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0013
Epoch 84/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0011
Epoch 85/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0012
Epoch 86/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0013
Epoch 87/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0012
Epoch 88/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0013
Epoch 89/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0012
Epoch 90/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0012
Epoch 91/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0010
Epoch 92/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0013
Epoch 93/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0012
Epoch 94/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0011
Epoch 95/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0012
Epoch 96/100
43/43 [==============================] - 1s 14ms/step - loss: 0.0011
Epoch 97/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0012
Epoch 98/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0012
Epoch 99/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0011
Epoch 100/100
43/43 [==============================] - 1s 13ms/step - loss: 0.0011

In [18]:
test_X = pd.read_csv('/content/test.csv')

In [19]:

try:
  test_X = test_X.replace(['Ex','Gd','TA','Fa','Po'],[4,3,2,1,0])
except:
  pass
X_tea = test_X[['Overall Qual', 'Gr Liv Area', 'Exter Qual', 'Garage Cars',
       'Garage Area', 'Kitchen Qual', 'Total Bsmt SF', '1st Flr SF',
       'Bsmt Qual', 'Full Bath', 'Year Built', 'Year Remod/Add',
       'Garage Yr Blt']].astype(float)

        id  Overall Qual  ...  Year Remod/Add Garage Yr Blt
0        1             9  ...            2007          2007
1        2             6  ...            1950          1948
2        3             6  ...            2000          2000
3        4             6  ...            2004          2004
4        5             5  ...            1968          1991
...    ...           ...  ...             ...           ...
1345  1346             8  ...            2008          2008
1346  1347             5  ...            1964          1964
1347  1348             4  ...            1950          1920
1348  1349             5  ...            2005          2004
1349  1350             5  ...            1950          1945

[1350 rows x 14 columns]

In [ ]:
model.predict()