<a href="https://colab.research.google.com/github/aloml2543/Dacon_housing/blob/bsh/model/Dense_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [65]:
df1 = pd.read_csv('/content/train.csv')
print(df1.columns)

Index(['id', 'Overall Qual', 'Gr Liv Area', 'Exter Qual', 'Garage Cars',
       'Garage Area', 'Kitchen Qual', 'Total Bsmt SF', '1st Flr SF',
       'Bsmt Qual', 'Full Bath', 'Year Built', 'Year Remod/Add',
       'Garage Yr Blt', 'target'],
      dtype='object')

In [66]:
df1 = df1.replace(['Ex','Gd','TA','Fa','Po'],[4,3,2,1,0])
X_train = df1[['id', 'Overall Qual', 'Gr Liv Area', 'Exter Qual', 'Garage Cars',
       'Garage Area', 'Kitchen Qual', 'Total Bsmt SF', '1st Flr SF',
       'Bsmt Qual', 'Full Bath', 'Year Built', 'Year Remod/Add',
       'Garage Yr Blt']].astype(float)
X_train

          id  Overall Qual  ...  Year Remod/Add  Garage Yr Blt
0        1.0          10.0  ...          2003.0         2003.0
1        2.0           7.0  ...          2007.0         2006.0
2        3.0           5.0  ...          1967.0         1967.0
3        4.0           5.0  ...          2006.0         2000.0
4        5.0           7.0  ...          2005.0         2005.0
...      ...           ...  ...             ...            ...
1345  1346.0           6.0  ...          1997.0         1996.0
1346  1347.0           9.0  ...          2006.0         2006.0
1347  1348.0           5.0  ...          1967.0         1967.0
1348  1349.0           5.0  ...          1974.0         1974.0
1349  1350.0           5.0  ...          1978.0         1978.0

[1350 rows x 14 columns]

In [67]:
Y_train = df1[['target']].astype(float)
print(X_train.shape)
print(Y_train.shape)

(1350, 14)
(1350, 1)

In [68]:
X = tf.keras.layers.Input(shape=[14])
H = tf.keras.layers.Dense(10000,activation='swish')(X)
H = tf.keras.layers.Dense(1000,activation = 'swish')(H)
H = tf.keras.layers.Dense(100,activation = 'swish')(H)
H = tf.keras.layers.Dense(10,activation = 'swish')(H)
H = tf.keras.layers.Dense(5,activation = 'swish')(H)
Y = tf.keras.layers.Dense(1)(H)

model = tf.keras.models.Model(X,Y)
model.compile(loss='mse')
model.summary()

Model: "model_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_5 (InputLayer)        [(None, 14)]              0

 dense_13 (Dense)            (None, 10000)             150000

 dense_14 (Dense)            (None, 1000)              10001000

 dense_15 (Dense)            (None, 100)               100100

 dense_16 (Dense)            (None, 10)                1010

 dense_17 (Dense)            (None, 5)                 55

 dense_18 (Dense)            (None, 1)                 6

=================================================================
Total params: 10,252,171
Trainable params: 10,252,171
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.fit(X_train, Y_train, epochs = 1000, verbose = 0)
model.fit(X_train, Y_train, epochs = 10)